Phan gioi thieu ve HeritageChane
* {
    box-sizing: border-box;
}
.container {
    text-align: center;
}

h2 {
    font-size: 3.2rem;
    margin-top: 0;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 3rem;
}

.mission-cards {
    display: flex;
    justify-content: center;
    gap: 9rem;
}

.mission-card {
    color: #fff;
    background-color: #04001b;
    padding: 2rem;
    border-radius: 1rem;
    border: 0.15rem solid #0d0063;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 30rem;
}

.mission-card img {
    width: 8rem;
    height: 8rem;
    margin-bottom: 1.5rem;
}

.mission-card h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.read-more {
    display: inline-block;
    background-color: #f99721;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.read-more:hover {
    background-color: #f78f1c;
}


/* Phan HEADER */

.header {
    position: relative;
    background-image: linear-gradient(90deg,#ffffff,#daece5);
    height: 600px;
    width: 100vw; 
}

.header__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__navbar-icon {
    font-size: 1.5rem; 
    font-weight: 700;
}

.header__navbar-menu, 
.header__navbar-icon {
    margin: 1.2rem 6rem;
}

.header__navbar-menu {
    padding: 0.5rem 0.5rem 0.2rem 0.5rem;
    background-color: transparent;
    cursor: pointer;
    border: none;
    transition: all 0.35s;
}
.header__navbar-menu:hover {
    border-radius: 100%;
    background-color: #ffffff;
}

.header__textAndImage {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header__textAndImage-text {
    animation: slideFromLeft 1.3s ease-out;
}

.header__textAndImage-text,
.header__textAndImage-image {
    margin: 1.2rem 5.8rem;
}

.header__textAndImage-text--one {
    background: linear-gradient(140deg, #3cd5ff, #0072ff);
    background-clip: text;
    color: transparent;
    font-size: 5.7rem;
}

.header__textAndImage-text-two {
    font-size: 1.5rem;
    color: #484848;
}

.header__textAndImage-image--link {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.header__textAndImage-image--link,
.header__textAndImage-text-two {
    animation: slideFromRight 1.3s ease-out;
}

.header__buttton {
    position: absolute;
    top: 70%;
    left: 5.8rem;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 5rem;
    padding: 1.5rem 3rem;
    display: inline-block;
    font-weight: bold;
    color: #fff;
    text-align: center;
    border: none;
    background: linear-gradient(180deg, #3cd5ff, #1981ff);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}
.header__buttton:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }
  
.header__buttton:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Animation */

@media(min-width: 900px)
{
    .header__textAndImage,
    .footer__navbar-info {
        flex-direction: row;
    }
}

@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Phan Footer */
  
.end {
    margin-top: 5rem;
    width: 100vw;
    height: 30rem;
    background-color: #031b34;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.footer__navbar-info--noflex {
    display: flex;
    text-decoration: none;
    padding: 0 1rem;
}

.footer__social-link {
    color: #fff;
}

.footer__navbar-info .footer__social-link--flex {
    list-style-type: none;
    margin-left: 0;
}

.footer__navbar-title {
    font-size: 1.3rem;
}

.footer__navbar-linkus, 
.footer__navbar-getintouch {
    margin: 2rem 9rem;
}

.footer__navbar-getintouch,
.footer__navbar-company,
.footer__navbar-link {
    margin-bottom: 5rem;
}

.footer__social-link {
    font-size: 1rem;
    font-weight: 200;
    margin-top: 0.5rem;
}

.footer__social-link--flex {
    padding: 0.5rem;

}

.footer__end {
    position: absolute;
    bottom: 0;
    font-size: 1.2rem;
    left: 43%;
}

